{
    "db":{
        "url": "jdbc:mysql://localhost:3306/bill?user=root&password=123456&useUnicode=true&characterEncoding=utf-8&createDatabaseIfNotExist=true&autoReconnect=true&failOverReadOnly=false",
        "driver": "com.mysql.jdbc.Driver"
    },
    "server":{
        "docRoot": "",
        "port": "18080",
        "salt": "salt"
    },
    "wx": {
        "appId": "wx-appId",
        "secret": "wx-app-secretId"
    }
}
