<!-- ko component: {
    name: "page", 
    params: {body: "billList", footer: "footer", data: $data}}--> 
<!-- /ko -->

<template id="footer">
    <button class="record btn btn-sm btn-primary" 
            data-bind="click: $data.showRecordDialog">记账</button>
</template>

<template id="billList">
    <ul class="bill-list" data-bind="foreach: $data.billDailies">
        <li class="daily-summary">
            <div class="daily-date">
                <span data-bind="text: $data.dateLabel()"></span>
            </div>
            <div class="daily-money">
                <span data-bind="text: $data.incomeLabel()"></span>
                <span data-bind="text: $data.paymentLabel()"></span>
            </div>
        </li>
        
        <ul class="bill-list" data-bind="foreach: $data.bills">
            <li>
                <!-- ko template: {name: "billLabel", data: $data.getLabel($parents[1].allLabels)}--> <!-- /ko -->
                <div class="bill-prop">
                    <span data-bind="text: $data.getTypeName()"></span>
                    <span data-bind="text: $data.money"></span>
                </div>
                <div class="bill-operate">
                    <span data-bind="click: $parent.prepareUpdateBill">编辑</span>
                    <span data-bind="click: $parent.deleteBill">删除</span>
                </div>
            </li>
        </ul>
    </ul>
</template>

<template id="billLabel">
    <div class="bill-label" data-bind="style: {color: $data.color}" >
         <span data-bind="text: $data.name, style: {color: $data.color}"></span>
    </div>
</template>

<template id="billLabelList">
    <ul data-bind="foreach: $data.labels">
        <li data-bind="click: function(label){$parent.select(label);}">
            <!-- ko template: {name: "billLabel", data: $data}--> <!-- /ko -->
        </li>
    </ul>
</template>

<template id="recordDialogHeader">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3" data-dismiss="modal">取消</div>
            <div class="col-6">
                <!-- ko component: {
                    name: "tab-selector", 
                    params: {tabs: $data.billTabs, value: $data.bill.type, onSelect: $data.onBillTypeChange}}--> 
                <!-- /ko -->
            </div>
            <div class="col-3" data-bind="click: $data.success">确定</div>
        </div>
    </div>
</template>

<template id="recordDialogBody">
    <div>
        <!-- ko template: {name: "billLabel", data: $data.bill.label}--> <!-- /ko -->
        <input type="number" autofocus data-bind="value: $data.bill.money"/>
        <!-- ko template: {name: "billLabelList", data: {labels: $data.labels, select: $data.selectLabel}}--> <!-- /ko -->
    </div>
</template>
