#bill-record .modal-dialog{margin: 0px;}
#bill-record .modal-content{height: 100vh;}
.footer .record{margin: auto;}
.bill-list div{display: inline-block;}
.bill-list .bill-prop{margin-left: 80px;}
.bill-list .bill-operate{float: right;margin-right: 5px;}
